{% extends "base.html" %}
{% block content %}
    <div class="col-2">
      <img src="{{ book.image }}" alt='No image available'>
    </div>
    <div class="col-4">
      <h2>{{ book.title }}</h2>
      <h4>Author: {{ book.author }}</h4>
      {% for i in range(full) %}
        <i class="fas fa-star rated" id='{{ i + 1 }}'></i>
      {% endfor %}
      {% for i in range(empty) %}
        <i class="fas fa-star unrated" id='{{ full + i + 1 }}'></i>
      {% endfor %}
      <span id="arating">{{ book.avgRating }}</span>
      <br />
      <h4>Description</h4>
      <p>{{ book.description }}</p>
    </div>
    <div class="w-100"></div>
    <div class="col-6">
      <h2>Reviews</h2>
      <hr>
      {% for review, user in reviews.items() %}
        {{ user }}
        {% for i in range(review.userRating) %}
          <i class="fas fa-star rated" id='{{ i + 1 }}'></i>
        {% endfor %}
        {% for i in range(review.userRating, 10) %}
          <i class="fas fa-star unrated" id='{{ review.userRating + i + 1 }}'></i>
        {% endfor %}
        <span id="urating">{{ review.userRating }}</span>
        <br />
        <br />
        {{ review.review }}
        <hr />
      {% endfor %}
      <p>Create your own review <a href='/book/{{ book.id }}/create_review'>here</a></p>
    </div>
{% endblock %}
